/*------------------- 
---------fonts
------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
body {
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
/*--------------------------
----------- Top Section-----
---------------------------- */

.top-section {
    background: #2D25A0;
    padding-top: 67px;

}

.top-section .container {
    max-width: 1140px;
    margin: 0px auto;
}


.top-banner {
    
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
}



.top-banner .top-heading {
    width: 50%;
}
.top-section .container  {
    padding-bottom: 120px;

}


.top-heading h2 {
    font-size: 64px;
    color: #FFFFFF;
    /* padding-bottom: 20px; */
    line-height: 80px;
}
.top-button {
    display: inline-block;
    margin-top: 25px;
}
 .top-button a {
    background: #E02C6D;
    padding: 14px 30px;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    /* margin-top: 20px; */
    
    
}
.fas {
    color: white;
    font-size: 15px; 
    margin-right: 7px ;
}

.top-picture img{
    
    width: 556.01px;
    height: 438px;
   
    position: relative;
    animation: forImg 5s linear alternate-reverse infinite;
}
.top-heading i {
    margin-left: 5px;
}


@keyframes forImg {
    0% {
        top: -25px;
    }

    100% {
        top: 25px;
    }
}

/* ------------------
-----------Players Section------
----------------------------- */


.players-section .container {
    width: 1053px;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    
}

.player-info {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px grey;
}
.player img {
    width: 100%;
    height: 256px;
    cursor: pointer;
}
 .player h2 {
    color: #18191F;
    font-size: 30px;
    font-weight: bold;
}

.player p {
    color: #6C6C6C;
    font-size: 16px;
    text-align:justify;
}

/* ----------------
--------Highlights Section----------
--------------------------------- */

.highlights-section {
    margin-top: 80px;
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .highlights-info{
   display: flex;
 
}
.highlights-left {
    width: 50%;
}
.highlights-left h2 {
   /* margin-top: 50px; */
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
}
.highlights-left p {
   color: #6C6C6C;
   font-size: 16px;
}



.highlights-left i {
    margin-left: 5px;
}
.highlights-right {
    padding-left: 40px;
}
 .highlights-right img{
    width: 567px;
    height: 427px;
}


/*---------------------------------
-------- Livestream Section--------------
------------------------------------ */

.livestream-section {
    margin-top: 80px;
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .livestream-info{
   display: flex;
 
}
.livestream-left {
    width: 50%;
}
.livestream-right h2 {
   /* margin-top: 50px; */
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
}
.livestream-right p {
   color: #6C6C6C;
   font-size: 16px;
}



.livestream-left i {
    margin-left: 5px;
}
.livestream-right {
    padding-left: 66px;
}

.livestream-video{
    width: 567px;
    height: 427px;

}

/* ----------------------------------
-----------Gallery Section----------
----------------------------------- */

.gallery-section h2{
  font-size: 56px;
  text-align: center;
  margin-bottom:30px;
  color: #004478;

}

.gallery-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  margin: 10px 20px;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.3);
}

.gallery-image img
{
  width: 100%;
  height: 400px;
}

/*--------------------------
---- Footer Section--------
------------------------- */

footer{
    margin-top: 100px; 
 }
 footer .container{
     /* width: 1164px; */
     display: block;
     /* margin-left: auto;
     margin-right: auto; */
     text-align: center;
 }
 footer img{
    display: inline-block;
    width: 300px;
    height: 100px;
    
 }
 .f-icon{
     /* width: 32px;
     height: 32px; */
     font-size: 35px;
     box-shadow: 10px 10px 10px grey;
     border-radius: 30px;
     text-align: center;
 }
.fab{
    margin-top: 20px;
    padding: 0 7px;
    color: rgb(124, 124, 124);
    transition: .3s linear;
    margin-bottom:30px;
    
 }
 footer p{
     padding-top: 20px;
   font-size: 15px;
   font-weight: normal;
   margin-bottom: 63px;

 
 }




 /* Media Queries */
 /* For Mobile View */
 @media only screen and (min-device-width: 320px) 
 and (max-device-width: 480px) {
    .container{
        width: 100%;
       
    }
    .top-section, .container, .highlights-section, .livestream-section, .gallery-section{
        grid-template-columns: repeat(1, 1fr);
    }
    footer, .footer-section{
        width: 400px;

    }

    .top-banner, .players, .player-info, .highlights-info, .livestream-info{
        
        flex-direction: column;
    }
    .gallery-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 25px;
        /* margin: 10px 10px; */
      }

      .gallery-image img{
        width: 100%;
        height: 250px;
        padding-bottom: 5px;
      }
    article {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        
        row-gap: 30px;
        flex-direction: row;
        width: 330px;
        padding: 0px 15px;
        margin: 0px 30px;
                
    }
    .top-section, .highlights-section{
        height: 780px;
        width: 475px;
     
    }
     .top-heading{
        width: 278px;
        height: 138px;
        padding-left: 16px;
       

    }
     .top-heading h2{
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
       
        

    }  
    .top-picture img{
        width: 329px;
        height: 259.17px;
        padding-left: 50px;
        padding-top: 274px;
    }

    .player-info img {
        
        width: 300px;
        height: 256px;
    }
    .highlights-left{
        width: 329px;
        height: 350px;
        margin: 0px 15px;
        padding-left: 25px;
        left: 0px;
        top: 0px;   
    }
   
    .highlights-right img{
        width: 328px;
        height: 250px;
        padding-left: 10px;
        padding-top: 10px;
       
    }
    .highlights-left h2{
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;

        width: 294px;
        height: 80px;

    }
   .livestream-right {
        width: 329px;
        height: 350px;
        margin: 0px 15px;
        padding-left: 25px;
    
    }
    .livestream-video{
        width: 400px;
        height: 250px;
        padding: 0px 15px;
    }
    .livestream-right h2{
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;

        width: 294px;
        height: 80px;
        left: 0px;
        top: 0px;

    }
    footer img{
       display: inline-block;
       width: 200px;
       height: 70px;
       padding-left: 40px;
       
    }

    footer p{
      font-size: 15px;
      
      margin-bottom: 30px;
      text-align: center;
    
    }
   
    



}



/*--------------------------------
--- Media Query For Tab-View------
------------------------------------- */
@media only screen and (min-device-width: 481px) 
  and (max-device-width: 992px) {
  ction, .container, .highlights-section, .livestream-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
 }
    footer, .footer-section{
        width: 700px;

    }

    .top-banner, .players, .player-info, .highlights-info, .livestream-info{
        
        flex-direction: row;
    }
    .gallery-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: row;
       
      }
      .gallery h2{
        font-weight: bold;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
 }

      .gallery-image img{
        width: 100%;
        height: 250px;
        padding-bottom: 5px;
        
      }
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        row-gap: 30px;
        flex-direction: row;
        padding: 0px 10px;
        margin: 0px 15px;
                
    }
     .top-heading{
         width: 320px;
        height: 450px;
        padding-left: 40px;
    }
     .top-heading h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
    }  
    .top-picture img{
        
        width: 350px;
        height: 300px;
        padding-left: 50px;
        padding-top: 74px;
    }
    
    .player-info img {
        
        width: 320px;
        height: 256px;
 }
    .highlights-left{
        width: 329px;
        height: 350px;
        margin: 0px 15px;
        padding-left: 25px;
        left: 0px;
        top: 0px;  
    }
    
    .highlights-right img{
        width: 340px;
        height: 300px;
        padding-right: 10px;
        padding-top: 20px;
        
    }
    .highlights-left h2{
        font-weight: bold;
        font-size: 25px;
        line-height: 35px;

        width: 294px;
        height: 80px;
        

    }
    .livestream-right {
        width: 329px;
        height: 350px;
        margin: 0px 15px;
        padding-left: 25px;
        left: 0px;
        top: 0px;   
    }
    
    .livestream-video{
        width: 400px;
        height: 350px;
        padding: 0px 15px;
        
       
    }
    .livestream-right h2{
        font-weight: bold;
        font-size: 25px;
        line-height: 35px;

        width: 294px;
        height: 80px;
    }

   
    footer img{
       display: inline-block;
       width: 200px;
       height: 70px;
       padding-left: 40px;
       
    }

    footer p{
      font-size: 15px;
      
      margin-bottom: 30px;
      text-align: center;
    }

}

