/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Basic css */

/* * {
    margin: 0;
    padding: 0;
   

} */
html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
body {
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
/* Top Section */

.top-section {
    background: #2D25A0;
    padding-top: 67px;

}

.top-section .container {
    max-width: 1140px;
    margin: 0px auto;
}


.top-banner {
    width: 1164px;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
}



.top-banner .top-heading {
    width: 50%;
}
.top-section .container .top-banner  {
    padding-bottom: 200px;

}


.top-heading h2 {
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 37px;
    line-height: 80px;
}
.top-button {
    display: inline-block;
    margin-top: 5px;
}
 .top-button a {
    background: #E02C6D;
    padding: 14px 24px;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    
    
}
.fas {
    color: white;
    font-size: 15px; 
    margin-right: 7px ;
}

.top-picture img{
    
    width: 556.01px;
    height: 438px;
   
    position: relative;
    animation: forImg 5s linear alternate-reverse infinite;
}
.top-heading i {
    margin-left: 5px;
}


@keyframes forImg {
    0% {
        top: -25px;
    }

    100% {
        top: 25px;
    }
}

/* Players Section */


.players-section .container {
    width: 1053px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    
}

.player-info {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px grey;
}
.player img {
    width: 300px;
    height: 256px;
    cursor: pointer;
}
 .player h2 {
    color: #18191F;
    font-size: 30px;
    font-weight: bold;
}
.player-info{
    padding: 20px 20px;
}

.player p {
    color: #6C6C6C;
    font-size: 16px;
    text-align:justify;
}

/* Highlights Section */

.highlights-section {
    margin-top: 165px;
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .highlights-info{
   display: flex;
 
}
.highlights-left {
    width: 50%;
}
.highlights-left h2 {
   margin-top: 71px;
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
}
.highlights-left p {
   color: #6C6C6C;
   font-size: 16px;
}

.highlights-left a:hover {
    background: #e02c6e00;
    color: rgb(58, 58, 58);
}

.highlights-left i {
    margin-left: 5px;
}
.highlights-right {
    padding-left: 66px;
}
 .highlights-right img{
    width: 567px;
    height: 427px;
}

/* Livestream Section */

.livestream-section {
    margin-top: 165px;
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .livestream-info{
   display: flex;
 
}
.livestream-left {
    width: 50%;
}
.livestream-left h2 {
   margin-top: 71px;
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
}
.livestream-left p {
   color: #6C6C6C;
   font-size: 16px;
}

.livestream-left a:hover {
    background: #e02c6e00;
    color: rgb(58, 58, 58);
}

.livestream-left i {
    margin-left: 5px;
}
.livestream-right {
    padding-left: 66px;
}
 .livestream-right img{
    width: 567px;
    height: 427px;
}

.livestream-video{
    width: 567px;
    height: 427px;

}

/* Gallery Section */

.gallery-section,
{
  padding: 5rem 0;
}
.gallery-section h2{
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
  color: #004478;
  font-weight: 300;
}

.gallery-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  margin: 10px 10px;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.3);
}

.gallery-image img
{
  width: 500px;
  height: 400px;
}

/* Footer Bar */

footer{
    margin-top: 120px; 
 }
 footer .container{
     width: 1164px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }
 footer img{
    display: inline-block;
    width: 300px;
    height: 100px;
    
 }
.fab{
    margin-top: 20px;
    padding: 0 7px;
    color: rgb(124, 124, 124);
    transition: .3s linear;
    margin-bottom:20px;
    
 }
 footer p{
   font-size: 15px;
   font-weight: normal;
   margin-bottom: 63px;

 
 }




 /* Media Queries */
 /* For Mobile-S(375px) */
 @media only screen and (max-width:688px) {
    .container{
        width: 100%;
       
    }
    .top-section, .container, .highlights-section{
        grid-template-columns: repeat(1, 1fr);
        
    
        
    }
    /* .top-section, .highlights-section{
        height: 695px;
        width: 475px;
        margin: 0px;
    } */

    /* article{
        grid-template-columns: repeat(1, 1fr);

    } */

    .top-banner, .players, .player-info, .highlights-info{
        
        flex-direction: column;
    }
    article {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        
        row-gap: 30px;
        flex-direction: row;
        width: 420px;
        padding: 0px 15px;
        margin: 0px 15px;
                
    }
    .top-section, .highlights-section{
        height: 780px;
        width: 475px;
        /* margin: 0px; */
    }
     .top-heading{

        /* padding: 0px 30px;
        width: 300px; */
        /* width: 278px;
        height: 100px; */
        width: 278px;
        height: 138px;
        padding-left: 16px;
        /* top: 112px; */

        /* padding-left: 16px; */
       

    }
     .top-heading h2{
        
        /* font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 65px; */
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
       
        

    }  
    .top-picture img{
        /* width: 300px;
        height: 240px;  */
        /* width: 400px;
        height: 300px;
        padding-left: 30px;
        padding-top: 320px; */
        width: 329px;
        height: 259.17px;
        padding-left: 50px;
        padding-top: 274px;

        /* padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 70px; */
         /* padding: 80px 15px;
        margin: 0px; */
    }
     /* .top-button{
        margin-top: 10px;
    }  */

    .highlights-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

       
        width: 280px;
        margin: 24px 0px;
        padding: 30px 15px;
    }
    .highlights-right img{
        width: 270px;
        height: 200px;
        /* padding-right: 50px; */
        /* margin: 0px 10px; */
        align-items: center;
    }
    .highlights-left h2{
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;

    }
    
    .player-info img {
        
        width: 100%;
        height: 256px;
        
        
    }


}


    
